<div class="alert alert-success alert-dismissable" ng-if="show">
  <button href="#" class="close"  aria-label="close" ng-click="closeAlert()">&times;</button>
  <strong>created!!</strong>
</div>

     <div class="col-md-9"  ng-if="show" >
        <h2 class="bg-primary text-center">{{title}}</h2>
     <img class="img-detail" ng-src="{{ad.image}}" alt="">
     <h3 class="bg-success ">DESCRIPTION</h3>
     <p>{{description}}</p>
     <h3 class="bg-success ">Price</h3>
     <p>$ {{price}}</p>
     <h3 class="bg-success ">Category</h3>
     <p> {{category}}</p>
     
     </div>

<form class="form-horizontal" role="form" name="createAdForm" novalidate ng-show="visible">
    <div class="form-group" >
        <div class="col-sm-3">
        </div>
        <div class="col-sm-6">
            <input type="text" class="form-control" placeholder="title" ng-model="title" required />
        </div>
        <div class="col-sm-3">
        </div>

    </div>
    <div class="form-group" >
        <div class="col-sm-3">
        </div>
        <div class="col-sm-6">
            <textarea type="text"  placeholder="description" class="form-control" ng-model="description" required /></textarea>
        </div>
        <div class="col-sm-3">
        </div>
    </div>

    <div class="form-group" >
        <div class="col-sm-3">
        </div>
        <div class="col-sm-6">
            <input type="text" class="form-control" placeholder="price" ng-model="price" required />
        </div>
        <div class="col-sm-3">
        </div>

    </div>

    <div class="form-group" >
        <div class="col-sm-3">
        </div>
        <div class="col-sm-6">
            <!-- <input type="text"  placeholder="categoty" ng-model="categoty" required /> -->
            <select class="form-control" placeholder="categoty" name="multipleSelect" id="multipleSelect" ng-model="category">
              <option value="" selected disabled>Category</option>
              <option value="1">Mobile</option>
              <option value="2">laptop</option>
            </select>
        </div>
        <div class="col-sm-3">
        </div>

    </div>

     <div class="form-group" >
        <div class="col-sm-3">
        </div>
        <div class="col-sm-6">
            <input class="form-control" type="file" file-model="myFile"/>
        </div>
        <div class="col-sm-3">
        </div>

    </div>
    <div class="form-group" >
    <div class="col-sm-3">
        </div>
        <div class="col-sm-6">
    <button class="form-control btn btn-primary" ng-click="createAd()">Create Ad</button>
    </div>
    <div class="col-sm-3">
        </div>
    </div>

</form>



<!-- <alert type="danger" close="closeAlert()" ng-if="show" 
       dismiss-on-timeout="100">Something happened.</alert> -->





    <div class="container" style="margin-top: 0px">
        <div class="card card-container">
            <!-- <img class="profile-img-card" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" alt="" /> -->
            <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
            <p id="profile-name" class="profile-name-card"></p>
            <form class="form-signin">
                <span id="reauth-email" class="reauth-email"></span>
                <input type="text" id="userName" name="userName" placeholder="User Name" class="form-control" ng-model="username" required />
            <span class="help-block" ng-show="loginForm.userName.$touched && loginForm.userName.$invalid">Please enter User Name.</span>
                <input type="text" id="firstName" name="firstName" placeholder="your Name" class="form-control" ng-model="name" required />
            <span class="help-block" ng-show="loginForm.firstName.$touched && loginForm.firstName.$invalid">Please enter your Name.</span>
                <input type="number" id="phone" name="phone" placeholder="phone number" class="form-control" ng-model="phone" required />
                <span class="help-block" ng-show="loginForm.phone.$touched && loginForm.phone.$invalid">Please enter your Phone number.</span>
                <input type="password" id="password" name="password" placeholder="Password" class="form-control" ng-model="password" required />
                <span ng-show="loginForm.password.$touched && loginForm.password.$error.required">Please enter Password.{{error.password[0]}}</span>
                <span ng-if="show">{{error.password[0]}}</span>
                <div id="remember" class="checkbox">
                    <label>
                        <input type="checkbox" value="remember-me"> Remember me
                    </label>
                </div>
                <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit" ng-click="signup()">Sign up</button>
            </form><!-- /form -->
            <a href="#" class="forgot-password">
                Forgot the password?
            </a>
        </div><!-- /card-container -->
    </div>