<div class="alert alert-danger alert-dismissable" ng-if="show">
  <button href="#" class="close"  aria-label="close" ng-click="closeAlert()">&times;</button>
  <strong>Error!</strong> <!-- {{error.non_field_errors[0]}} -->{{error.username[0]}}
</div>



    <div class="container" style="margin-top: 0px">
        <div class="card card-container">
            <!-- <img class="profile-img-card" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" alt="" /> -->
            <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
            <p id="profile-name" class="profile-name-card"></p>
            <form class="form-signin">
                <input type="text" id="firstName" name="firstName" placeholder="your Name" class="form-control" ng-model="profile.first_name" required />
            <span class="help-block" ng-show="loginForm.firstName.$touched && loginForm.firstName.$invalid">Please enter your Name.</span>
                <input type="number" value="{{profile.phone}}" id="phone" name="phone" placeholder="phone number" class="form-control" ng-model="profile.phone" required />
                <span class="help-block" ng-show="loginForm.phone.$touched && loginForm.phone.$invalid">Please enter your Phone number.</span>
                <input type="password" id="password" name="password" placeholder="Password" class="form-control" ng-model="profile.password" required />
                <span ng-show="loginForm.password.$touched && loginForm.password.$error.required">Please enter Password.{{error.password[0]}}</span>
                <span ng-if="show">{{error.password[0]}}</span>
                <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit" ng-click="update()">Update Profile</button>
            </form>
        </div><!-- /card-container -->
    </div>


<!-- <alert type="danger" close="closeAlert()" ng-if="show" 
       dismiss-on-timeout="100">Something happened.</alert> -->